# Introdução a Análise de Dados

### Como funciona um Projeto de Análise de Dados?

Os projetos de Análise de Dados são na verdade Desafios das Empresas

### Desafio

- Empresa Vende Bermudas
- 5 Lojas
- Está querendo aumentar as vendas
- O que fazer?
- Informações Disponíveis: Base de Vendas

### Passo 1 - Trazer sua base de dados para o Python e ver o que tem nela

In [1]:
import pandas as pd

tabela = pd.read_excel("Vendas.xlsx")
display(tabela)

ModuleNotFoundError: No module named 'pandas'

### Passo 2 - Pegar um panorama geral sobre a sua base de dados

In [2]:
faturamento_total = tabela["Valor Final"].sum()
print(faturamento_total)

55895

### Passo 3 - Começar sua análise Top -> Down

In [4]:
# faturamento por loja
faturamento_por_loja = tabela[["ID Loja", "Valor Final"]].groupby("ID Loja").sum()
display(faturamento_por_loja)

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

### Passo 4 - Entrar no detalhe pra entender

In [7]:
faturamento_por_produto = tabela[["ID Loja","Produto", "Valor Final"]].groupby(["ID Loja", "Produto"]).sum()
display(faturamento_por_produto)

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085